torch
torchvision
opencv-python
pandas
numpy
albumentations
matplotlib
scikit-learn
xmltodict
tqdm
torch==2.0.1
torchvision==0.15.2
opencv-python==4.7.0
pillow==9.5.0
numpy==1.24.3
sqlite3==2.6.0
PyYAML==6.0
